{{ form_start( form, {'attr': {'id': 'formProject'}} ) }}
    {{ form_widget(form._token) }}
    
    <ul class="nav nav-tabs">
        <li><a class="active" href="#project-general" data-toggle="tab">General</a></li>
        <li><a href="#project-vhost" data-toggle="tab">Apache VirtualHost</a></li>
    </ul>
    
    <div id="projectTabContent" class="tab-content projectTabContent">
        <div class="tab-pane fade active show" id="project-general">
            {{ form_row(form.name) }}
            {{ form_row(form.category) }}
            {{ form_row(form.sourceType) }}
            {{ form_row(form.repository) }}
            {{ form_row(form.branch) }}
            {{ form_row(form.projectRoot) }}
        </div>
        <div class="tab-pane fade" id="project-vhost">
            {{ form_row(form.withSsl) }}
            {{ form_row(form.host) }}
            {{ form_row(form.documentRoot) }}
            
            {{ form_row(form.phpFpmSocket) }}
            {{ form_row(form.reverseProxy) }}
            
            {#
                "fpmSocket": "/opt/phpbrew/php/php-7.4.1/var/run/php-fpm.sock"
                "reverseProxy": "http://127.0.0.1:5000/"
            #}
        </div>
    </div>
{{ form_end(form, {'render_rest': false}) }}
